body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Shippori Antique B1', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(1, 121, 172);
    text-align: center;
}
.h1{
    font-family: 'Oswald', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Shippori Antique B1', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: darkgreen;
    text-align: center;
}